<footer>
	<div class="footer">
		<div class="container">
			<div class="social-icon">
				<div class="col-md-4">
					<ul class="social-network">
						<li><a href="http://www.facebook.com/jonathan.hdez92"
							class="fb tool-tip" title="Facebook"><i
								class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.linkedin.com/in/jonathanhdez"
							class="linkedin tool-tip" title="Linkedin"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a href="https://github.com/Ikanant"
							class="github tool-tip" title="Github"><i
								class="fa fa-github"></i></a></li>
						<li><a
							href="https://plus.google.com/u/0/113895480948271513143/"
							class="gplus tool-tip" title="Google Plus"><i
								class="fa fa-google-plus"></i></a></li>
						<li><a
							href="https://www.youtube.com/channel/UCjOyyqrpUKXIfzUTjVSmvmg"
							class="ytube tool-tip" title="You Tube"><i
								class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="pull-right">
			<a href="/#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
		</div>
	</div>
</footer>