<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".navbar-collapse.collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						<a href="/home"><h1>
								<span>GO</span>LANG
							</h1></a>
					</div>
				</div>

				<div class="navbar-collapse collapse">
					<div class="menu">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation"><a href="/home" {{if eq .Active "home"}} class="active" {{end}}>Home</a></li>
							<li role="presentation"><a href="/categories" {{if eq .Active "category"}} class="active" {{end}}>Products</a></li>
							
							{{if .LoggedIn}}
								<li role="presentation"><a href="/profile" {{if eq .Active "profile"}} class="active" {{end}}>Profile</a></li>
								<li role="presentation"><a href="/logout">Log out</a></li>								
							{{else}}
								<li role="presentation"><a href="/login" {{if eq .Active "login"}} class="active" {{end}}>Login</a></li>
							{{end}}
							
							<li role="presentation"><a href="/about" {{if eq .Active "about"}} class="active" {{end}}>About The Developer</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>