<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>
	
	{{template "_header.html" .Active}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="home">Home</a></li>
				<li>About Me</li>
			</div>
		</div>
	</div>

	<div class="aboutus">
		<div class="container">
			<h3>My Personal Information</h3>
			<hr>
			<div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms"
				data-wow-delay="300ms">
				<img src="/images/{{.Image}}.jpg" class="img-responsive">
				<h4>{{.Quote}}</h4>
				<p>{{.Summary}}</p>
			</div>
			
			<div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms"
				data-wow-delay="600ms">
				<div class="skill">
					<h2 style="font-weight:bold;">My Skills</h2>
					<div>
						{{range .Skills}}
							<h4>{{.Title}}</h4>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{template "_footer.html"}}

	{{template "_scripts.html"}}

</body>
</html>