<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>
	{{template "_header.html" .Active}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="/home">Home</a></li>
				<li>Services</li>
			</div>
		</div>
	</div>
	
	{{range .Categories}}
		<div class="services wow fadeInDown" data-wow-duration="800ms" data-wow-delay="200ms">
			<div class="container">
				{{if eq .Title "Movies"}}
					<h3>Products on sale:</h3>
				{{end}}
				
				<div class="col-md-6">
					<img src="/images/{{.ImageUrl}}" class="img-responsive">
				</div>
	
				<div class="col-md-1"></div>
				<br>
	
				<div class="col-md-5">
					<div class="media">
						<ul>
							<li>
								<div class="media-right">
									<a href="/categories/{{.Id}}">
										<h4 class="media-heading">{{.Title}}:</h4>
									</a>
									{{range .SampleProducts}}
										<p style="font-weight: bold">{{.}}</p>
									{{end}}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{{end}}

	{{template "_footer.html"}} {{template "_scripts.html"}}

</body>
</html>