<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>
	{{template "_header.html" .Active}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="/index.html">Home</a></li>
				<li>Services</li>
			</div>
		</div>
	</div>

	<div class="services wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		<div class="container">
			<h3>Products on sale:</h3>
			<hr>
			<div class="col-md-6">
				<img src="/images/frontMovies.jpg" class="img-responsive">
			</div>

			<div class="col-md-1"></div>
			<br>

			<div class="col-md-5">
				<div class="media">
					<ul>
						<li>
							<div class="media-right">
								<a href="/categories/1">
									<h4 class="media-heading">Movies:</h4>
								</a>
								<p style="font-weight: bold">Ex Machina</p>
								<p style="font-weight: bold">Mad Max: Fury Road</p>
								<p style="font-weight: bold">Inside Out</p>
								<p style="font-weight: bold">Star Wars: The Force Awakens</p>
								<p style="font-weight: bold">The Martian</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-services wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
		<div class="container">
			<div class="col-md-5">
				<div class="media">
					<ul>
						<li>
							<div class="media-body">
								<a href="/categories/1">
									<h4 class="media-heading">Shows:</h4>
								</a>
								<p style="font-weight: bold">Daredevil</p>
								<p style="font-weight: bold">Game of Thrones</p>
								<p style="font-weight: bold">Master of None</p>
								<p style="font-weight: bold">Jessica Jones</p>
								<p style="font-weight: bold">Mr. Robot</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-6">
				<img src="/images/frontShows.jpg" class="img-responsive">
			</div>
		</div>
	</div>

	<div class="services wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
		<div class="container">
			<hr>
			<div class="col-md-6">
				<img src="/images/frontGames.jpg" class="img-responsive">
			</div>

			<div class="col-md-1"></div>
			<br>

			<div class="col-md-5">
				<div class="media">
					<ul>
						<li>
							<div class="media-body">
								<a href="/categories/1">
									<h4 class="media-heading">Video Games:</h4>
								</a>
								<p style="font-weight: bold">The Witcher 3: Wild Hunt</p>
								<p style="font-weight: bold">Metal Gear Solid V</p>
								<p style="font-weight: bold">Bloodborne</p>
								<p style="font-weight: bold">Batman: Arkham Knight</p>
								<p style="font-weight: bold">Fallout 4</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{{template "_footer.html"}} {{template "_scripts.html"}}

</body>
</html>