<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>

	{{template "_header.html" .}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="/categories">Categories</a></li>
				<li>{{.Title}}</li>
			</div>
		</div>
	</div>

	<div class="aboutus">
		<div class="container">
			<h3 class="wow fadeInDown" data-wow-duration="800ms" data-wow-delay="200ms">On Sale:</h3>
			<hr>
			<div class="text-center">
				{{range .Products}}
					<a href="/product/{{.Id}}">
					<div class="col-md-4 wow fadeInDown" data-wow-duration="800ms" data-wow-delay="200ms">
						<img src="/images/products/{{.ImageUrl}}" alt="">
						<h4 style="margin-bottom: 10px;">{{.Name}}</h4>
						<p>${{.Price}}</p>
					</div>
					</a>
				{{end}}
			</div>
		</div>
	</div>

	{{template "_footer.html"}} {{template "_scripts.html"}}

</body>
</html>