<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>

	{{template "_header.html" .}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="/categories/{{.Product.Type}}">Products</a></li>
				<li>{{.Product.Name}}</li>
			</div>
		</div>
	</div>

	<div class="services wow fadeInDown" data-wow-duration="800ms"
		data-wow-delay="200ms">
		<div class="container">

			<form action="" method="POST" class="row services">
				<div class="col-md-2"></div>

				<div class="col-md-4">
					<img src="{{.Product.ImageUrl}}" height="300" width="300" class="img-responsive">
					<br>
				</div>
				<div class="col-md-4">
					<div class="media">

						<div class="media-right">
							<h4 class="media-heading">{{.Product.Name}}</h4>
							<p style="font-weight: bold">${{.Product.Price}}</p>
							<p>{{.Product.Description}}</p>
							<button class="btn btn-primary btn-md" type="submit">Order</button>
						</div>


					</div>
				</div>
			</form>
		</div>
	</div>

	{{template "_footer.html"}} {{template "_scripts.html"}}

</body>
</html>