<!DOCTYPE html>
<html lang="en">

{{template "_head.html" .Title}}

<body>

	{{template "_header.html" .Active}}

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="home">Home</a></li>
				<li>About Me</li>
			</div>
		</div>
	</div>

	<div class="aboutus">
		<div class="container">
			<h3>Movies:</h3>
			<hr>
			<div class="text-center">
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="300ms">
					<img src="images/movies/1.jpg" alt="">
					<h4>Ex Machina</h4>
					<p>A young programmer is selected to participate in a
						ground-breaking experiment in synthetic intelligence by evaluating
						the human qualities of a breath-taking humanoid A.I.</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="600ms">
					<img src="images/movies/2.jpg" alt="">
					<h4>Mad Max: Fury Road</h4>
					<p>A woman rebels against a tyrannical ruler in postapocalyptic
						Australia in search for her home-land with the help of a group of
						female prisoners, a psychotic worshipper, and a drifter named Max.</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="900ms">
					<img src="images/movies/3.jpg" alt="">
					<h4>Inside Out</h4>
					<p>After young Riley is uprooted from her Midwest life and
						moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust
						and Sadness - conflict on how best to navigate a new city, house,
						and school.</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="300ms">
					<img src="images/movies/4.jpg" alt="">
					<h4>Star Wars: The Force Awakens</h4>
					<p>Three decades after the defeat of the Galactic Empire, a new
						threat arises. The First Order attempts to rule the galaxy and
						only a ragtag group of heroes can stop them, along with the help
						of the Resistance.</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="600ms">
					<img src="images/movies/5.jpg" alt="">
					<h4>The Martian</h4>
					<p>During a manned mission to Mars, Astronaut Mark Watney is
						presumed dead after a fierce storm and left behind by his crew.
						But Watney has survived and finds himself stranded and alone on
						the hostile planet. With only meager supplies, he must draw upon
						his ingenuity, wit and spirit to subsist and find a way to signal
						to Earth that he is alive.</p>
				</div>
				<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms"
					data-wow-delay="900ms">
					<img src="images/movies/6.jpg" alt="">
					<h4>Jurassic World</h4>
					<p>A new theme park is built on the original site of Jurassic
						Park. Everything is going well until the park's newest
						attraction--a genetically modified giant stealth killing
						machine--escapes containment and goes on a killing spree.</p>
				</div>
			</div>

		</div>
	</div>

	{{template "_footer.html"}} {{template "_scripts.html"}}

</body>
</html>